extends ../layouts/layout.pug

block content
  if tasks.length > 0
      table.table.table-info
        tr
          th Name
          th Actions
        for task in tasks
          tr
            td
              if signedEmail == task.creator || signedEmail == task.assignedTo
                +formFor(task, { url: urlFor('tasksShow', task.id) })
                  //- +buttonLink(task.name)
                  button.btn.btn-link(type='submit')= task.name
              else 
                button.btn.btn-link(type='button', disabled='')= task.name
                //- button.btn.btn-link(type='button', disabled='')= task.name
              td
                if signedEmail == task.creator 
                  +formFor(task, { url: urlFor('tasksIdEdit', task.id), confirm: `Are you sure you want to edit ${task.name}?`})
                    //- +buttonLink('Edit')
                    button.btn.btn-link(type='submit')= 'Edit'
                  +formFor(task, { url: urlFor('tasks', task.id), method: 'delete', confirm: `Are you sure you want to delete ${task.name}?`})
                    //- +buttonLink('Delete')
                    button.btn.btn-link(type='submit')= 'Delete'
                else    
                  button.btn.btn-link(type='button', disabled='') Edit
                  button.btn.btn-link(type='button', disabled='') Delete
                  //- +buttonLink('Delete', { disabled: true, type: 'button' })
                  //- +buttonLink('Edit', { disabled: true, type: 'button' })
  else
    .alert.alert-info(role='alert')
      | There is no any task...
  a.btn.btn-primary.btn-lg.active(href='/tasks/new', role='button', aria-pressed='true') Create task
